.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -2;

  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: cursive;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
  height: 20%;
}

a:hover {
  color: tomato;
}

#menuToggle {
  display: block;
  position: absolute;
  bottom: 95%;
  left: 1%;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 30%;
  top: 50px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #232323;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 25% 25%;
  font-size: 22px;
  font-family: cursive;
  color: white;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

ul#menu {
  position: absolute;
  height: 1000px;
  width: 750%;
}
div#list-container {
  position: absolute;
  height: 50%;
}

.header {
  height: 25%;
  font-family: cursive;
}
.background-image {
  top: 0%;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.8;
  z-index: -1;
}
.news-container {
  background-color: black;
  position: absolute;
  top: 25%;
  right: 5%;
  width: 45%;
  height: 45%;
  z-index: 1;
}
.homeImage {
  opacity: 0.7;
  height: 75%;
}
img {
  width: 100%;
  height: 100%;
}

.background-text {
  opacity: 0.7;
  position: absolute;
  font-size: 5em;
  top: 45%;
  left: 30%;
  height: 50%;
  z-index: 1;
}
.background-subtext {
  opacity: 0.7;
  position: absolute;
  font-size: 1.5em;
  top: 53%;
  left: 43%;
  height: 50%;
  z-index: 1;
}
.photo-text {
  position: absolute;
  bottom: 18%;
  right: 40%;
  font-size: 2em;
  color: white;
}
.ui.buttons {
  position: absolute;
  bottom: 5%;
  right: 31%;
}
